@charset "utf-8";


/*=========================================================== global resolution css ===============================================*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
	font-style: normal;
	margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: default;
}
.card.content .card-footer{
  padding-bottom:5px;
}
div.fixed-top{
  z-index: 20;
}
div.overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0,0,0,.5);
}
.card.content a.nav-link{
  padding-top: unset;
  padding-bottom: unset;
}
.bg-orange { background-color: #e6b800!important; }
a.orange:hover {
  text-decoration: none;
  color: #e6b800!important;
  cursor: pointer;
}
a.black {
  color: #333;
}
a.black:hover {
  /*color: #999;*/
}
li.nav-item.activated { border-bottom: 1px solid #dae0e5; }
i.fa:hover { cursor: pointer; }
.-borderrad { border-radius: 0 !important; }
.bs { box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4); }
.ph2 { box-shadow: unset !important;
  border-left:unset !important; border-right:unset !important; border-top:unset !important;
  }
.ph2:focus { transition: all .5s ease-in-out; border: 2px solid #e6b800 !important; background-color: #fefefe !important;
  border-left:unset !important; border-right:unset !important; border-top:unset !important;
  }
.ph2::-webkit-input-placeholder { color: #6c757d; opacity: 1; font-size: 1.25rem; }
.ph2::-moz-placeholder { color: #6c757d; opacity: 1; font-size: 1.25rem; font-weight: 300; }
.ph2:-ms-input-placeholder { color: #6c757d; opacity: 1; font-size: 1.25rem; font-weight: 300; }
.ph2::-ms-input-placeholder { color: #6c757d; opacity: 1; font-size: 1.25rem; font-weight: 300; }
.ph2::placeholder { color: #6c757d; opacity: 1; font-size: 1.25rem; font-weight: 300; }
.ph2:focus::-webkit-input-placeholder { transition: all .3s ease-in-out; opacity: 0.6; font-size: .75rem !important; }
.ph2:focus::-moz-placeholder { transition: all .3s ease-in-out; opacity: 0.6; font-size: .75rem !important; }
.ph2:focus:-ms-input-placeholder { transition: all .3s ease-in-out; opacity: 0.6; font-size: .75rem !important; }
.ph2:focus::-ms-input-placeholder { transition: all .3s ease-in-out; opacity: 0.6; font-size: .75rem !important; }
.ph2:focus::placeholder { transition: all .3s ease-in-out; opacity: 0.6; font-size: .75rem !important; }
.display-5 { font-size: 2.5rem; font-weight: 300; line-height: 1.2; }
.display-6 { font-size: 1.75rem; font-weight: 300; line-height: 1.2; }
.display-7 { font-size: 1.5rem; font-weight: 300; line-height: 1.2; }
.display-8 { font-size: 1.25rem; font-weight: 300; line-height: 1.2; }
.borderb { border-bottom: 1px solid rgba(0,0,0,.125) !important; }
.midResp .card.content { margin-bottom : unset !important; }

.-pb { padding-bottom: unset !important;}
.-nb { border: unset; }
#title-text-sm { display: none; }

#sideRight {
  margin-top:25px;
}
#main-card:hover {
  cursor: pointer;
  /*box-shadow: unset !important;*/
}
#secondary-card:hover{ box-shadow: unset !important; }
.card.content:hover { box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.4); }
.mc-hover{ background-color: rgba(255, 255, 252, 1); }
.mc-hover:hover{ background-color: rgba(255,255,252,.7); }

.ls-menu-hover{ background-color: rgba(248, 249, 250, 1); }

.ls-menu-hover:hover{ background-color: rgba(108, 117, 125, 0.1); }
li.nav-item:hover{
  background-color : rgba(108, 117, 125, 0.05);
}
li.nav-item.activated a{
  color: #007bff !important;
}
#widget-published-post-box .feed-body { margin-right: 15px; }
#widget-published-post-box ul li:hover, #updates-box ul li:hover, #activities-box ul li:hover {
  background-color: #dae0e5;
}

.tool-tip-content { display: none; }
.note-editing-area { min-height: 240px; }

.tooltip.tooltip-top .tooltip-arrow,
.tooltip.bs-tether-element-attached-bottom .tooltip-arrow {
  border-top-color: #7abcff;
}

.modal-header.norad{
    border-bottom: unset !important;
    border-top-left-radius: unset !important;
    border-top-right-radius: unset !important;
}
.midResp{
  margin-bottom: 3rem;
}
.midResp .card-header {
  border: 1px solid  rgba(153, 153, 153, 0.25);
  padding: .75rem 1.25rem !important;

}

.midResp .card-header:hover{
  position: relative;
  z-index: 99;
  /*background-color: #dae0e5; */
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.row-post-menu {
  position: absolute;
  right: 16px;
  top: 5px;
  display: none;
}

.row-post-menu  a.nav-link {
  padding: unset !important;
}

i.menu-hover {
  padding: 10px;
  border-radius: 50%;
}
i.menu-hover:hover{
  background-color: rgba(128,128,128,.125);
}

#tooltip-row-post {
  position: absolute;
  right: 16px;
  top: 5px;
}

/*=========================================================== end global resolution css ===============================================*/

@media (max-width: 991px){
  #postBox {
    column-count: 1 !important;
  }
  #postBox .content.p-3 {
    padding: unset !important;
    height: 171px;
    overflow: hidden;
  }
  #postBox .content.p-3:hover{
    cursor: pointer;
  }
  #postBox .content.p-3 .card-body{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
  }
  .mc-hover-white{ background-color: rgba(255,255,255,.8); }
  .mc-hover-white:hover{ background-color: rgba(255,255,255,.9); }
}
/*----------------------------------------------------------*/

@media (max-width: 767px) {
  #dropdownToggler span {
    display:none !important;
  }
  #dropdownToggler .fa {
    font-size: 2em !important;
    margin-top: .5rem !important;
  }
  #title-text-sm {
    display: block !important;
    float: left !important;
  }
  #title-text-lg {
    display: none !important;
  }
}
/*--------------------------------------------------------------*/

@media (min-width: 768px){
}

/*---------------------------------------------------------------*/

@media (min-width: 992px){
  #sideLeft {
    position: fixed;
    height: 100%;
    z-index: 9;
    padding-right: unset;
    padding-left: unset;
  }
  #sideRight{
    position: absolute;
    right: 0;
  }
  #navbarLeft{
    padding-right: unset;
  }
  div[name="divisi"]{
    position: absolute;
    right: 0;
  }
}
/*-------------------------------------------------------------------*/
@media (max-width: 991px){
  #pageFooterResp{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left:0;
  }
  .midResp{
    margin-bottom: 5rem;
  }
  #navbarLeft ul, #navbarLeft ul li{
    display: inline-block;
  }
  #navbarLeft ul li a{
    margin-right: 3rem;
  }
  div[name="divisi"]{
    position: relative;
  }
  #searchPost{
    width: 100%;
  }
}
