@charset "utf-8";


/*=========================================================== global resolution css ===============================================*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
	font-style: normal;
	margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: default;
}
#loadingDiv {
  /* margin-top: 75px; */
  padding-top: 8rem;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:98;
  background-color: white;
}
#responseDiv {
  display: none;
  width: 100%;
  background-color: white;
}
.borderb { border-bottom: 1px solid rgba(0,0,0,.125); }
a {
  color: #343a40 !important;
}
a.active {
  border-bottom: 1px solid transparent;
  font-size: 1.25rem;
  /* font-weight: 500; */
  font-weight: 800;
  color: #007bff !important ;
}
a.orange:hover {
  text-decoration: none;
  color: #e6b800!important;
  cursor: pointer;
}
#title-text-sm { display: none; }
#header0 {
  padding-top: .5rem;
  padding-bottom: .5rem;
  position: relative;
}
#header1 {
  padding-top: .5rem;
  padding-bottom: .5rem;
  position: fixed;
  top: 0;
  z-index: 99;
}
.body-wrapper { margin-top: 5rem !important; }

.small-h1 {
  margin-top: 1rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.5rem !important;
  margin-bottom: unset !important;
}

#header2 ul > li:hover, #header2 ul > li:active {
  background-color: #f8f9fa!important;
  border: 1px solid #999;
} 
#header2 ul > li {
  margin-left: .5rem;
  margin-right: .5rem;
  border: 1px solid transparent;
  border-radius: 30px;
}
#header2 a:hover {
  border-bottom: 1px solid transparent;
  color: #007bff !important;
}
#main-card .card {
  border-color: #007bff;
}
#postBox .content:hover {
  cursor: pointer;
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid #999;
}
.bg-orange { background-color: #e6b800!important; }
#inputDropdownSearch {
  background-color: #f8f9fa;
  border-radius: 30px;
}
#inputDropdownSearch:focus {
  box-shadow: unset !important;
}
.ui-autocomplete {
  box-shadow : 0px 2px 4px ;
}
.ui-menu {
  max-height: 360px !important;
}
.ui-menu .ui-menu-item {
  padding: 8px 5px;
}
.ui-state-active {
  margin: unset !important;
}
.navbar-toggler {
  border-radius: 50% !important;
  padding: .75rem .5rem !important;
  border: unset !important;
}
.navbar-toggler:focus, .navbar-toggler:hover {
  background-color: #f1f1f1;
  outline: unset !important;
  box-shadow: unset !important;
}
.navbar-toggler-icon {
  height: 1.5rem !important;
}
.rads {
  border-radius: 30px !important;
}
.dropdown-menu-right.show {
  margin-top: 13px !important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.side-navbar-wrapper {
  background-color: #f1f1f1;
  position: absolute;
  height: 100%;
  width: 22%;
  /* padding-left: 30px; */
  border-right: 1px solid rgba(0,0,0,.125);
  z-index: 14;
  /* display: none; */
  transition-delay: 300;
  transition-property: 'width';
  transition-duration: 500;
  transition-timing-function: ease;
  -webkit-transition:width 500;
  -moz-transition: width 500;
}
.side-navbar-wrapper:hover {
  border-right: 1px solid transparent;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
#left-menu, #left-menu-small {
  margin-top: 3rem;
}
#left-menu a{
  padding:  .5rem 5rem;
}
#left-menu .fa{
  font-size: 1.5em !important;
}
#leftMenuDropdown a {
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 5rem;
  padding-right: 1rem;
}
#left-menu a.active {
  clear: both;
  font-size: inherit;
  background-color: khaki !important;
}
#left-menu .fa-chevron-left, #left-menu .fa-chevron-down { font-size: 1em !important; }
#left-menu nav > a:hover, #left-menu nav > a:focus {
  background-color: #6c757d;
  color: white !important;
}
#left-menu ul > li {
  padding: 0 1rem;
}
#left-menu ul > li > .badge {
  height: fit-content;
  align-self: center;
}
#leftMenuDropdown li:hover, #leftMenuDropdown li:focus {
  background-color: #f1f1f1;
  color: white !important;
}
#menu-home {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  transition-property: 'width';
  transition-duration: 100;
  transition-timing-function: ease;
  -webkit-transition:width 100;
  -moz-transition: width 100;
  z-index: 13;
}

#menu-home.compact {
  width: 78%;
  transition-property: 'width';
  transition-duration: 100;
  transition-timing-function: ease;
  -webkit-transition:width 100;
  -moz-transition: width 100;
}

#pageFooterUser {
  position: absolute;
  bottom: 0;
}
.midResp .card { border: unset !important; }
/* .midResp .card.content { margin-bottom : unset !important; } */

.midResp .card-header {
  border: 1px solid  rgba(153, 153, 153, 0.25);
  padding: .75rem 1.25rem !important;
}

.midResp .card-header:hover{
  position: relative;
  z-index: 99;
  /*background-color: #dae0e5; */
  /* cursor: pointer; */
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.midResp .fa-pencil, .midResp .fa-trash {
  cursor: pointer;
}

.row-post-menu {
  position: absolute;
  right: 16px;
  top: 0;
  display: none;
  z-index: 55;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 30px;
}

.row-post-menu  a.nav-link, #rowPostAction a.nav-link {
  padding: unset !important;
}

i.menu-hover {
  padding: 10px;
  border-radius: 50%;
}
i.menu-hover:hover {
  background-color: rgba(128,128,128,.125);
}
i.fa-trash {
  font-size: 1.4em !important;
}

#menu-home {
  min-height: 600px
}

#cAllPost {
  padding: 0 3rem;
}

.card-deck {
  @include media-breakpoint-only(md) { column-count: 1; }
}

/* profile user */
#profile_picture .img-thumbnail {
  border-radius: 50% !important;
  height: 128px;
  width: 128px;
  cursor: pointer;
}
/* end profile */
.ui-menu .ui-menu-item{
  cursor:default !important;    
  padding: 8px 16px;
}
.abs-right {
  position: absolute !important;
  right: 10px;
  cursor: pointer;
  padding: 3px 1em !important;
}
.abs-right:hover {
  background-color: rgba(0,0,0,.125);
  border-radius: 30px;
}
ul.pagination li {
  padding: unset !important;
}
#linkPostDropdown i.fa-chevron-left, #linkPostDropdown i.fa-chevron-down {
  position: absolute;
  right: 0;
  padding: .25rem .25rem !important;
}
#navbarToggleExternalContentSmall {
  width: fit-content;
}
/* end global view */

/* responsive medium view */
@media (max-width: 767px) {
  #cAllPost {
    padding: unset !important;
  }
  #title-text-sm {
    display: block !important;
    float: left !important;
  }
  #title-text-lg {
    display: none !important;
  }
  #navbarToggleExternalContent {
    width: fit-content !important;
  }
  #menu-home.compact {
    width: 100% !important;
  }
  .card-deck {
    display: flex !important;
    flex-direction: column !important;
  }
  .card-deck .card {
    margin-left: unset !important;
    margin-right: unset !important;
    margin-bottom: 1rem !important;
  }
  #contentDepan {
    padding: unset !important;
  }
}
@media (max-width: 991px){
  #date_post {
    text-align: right !important;
  }
}
@media (max-width: 991px) and (min-width: 767px){
  #title-text-lg {
    font-size: 2.2rem;
  }
}